@inherits LayoutComponentBase
@using ScanQr.App.Components.Widgets

<FluentMainLayout NavMenuTitle="Navigation menu">
    <Body>
    @Body
    </Body>
</FluentMainLayout>

@code{

    protected async override Task OnInitializedAsync()
    {
    }


}