@page "/"
@using Bloc.Models
@using Plugin.LocalNotification
@using ScanQr.App.States
@using ScanQr.App.Components.Widgets
@using ScanQr.App.Models
@using ScanQrShared
@inject HttpClient HttpClient
<MessageListener T="Person" Information="@(new ChannelInformation("ReceiveMessage", "http://172.16.1.150:5026/Chat"))" OnMessageRecieved="@(OnMessageReceived)">
    <div>
        <h1>Hello, world!</h1>
        Welcome to your new app.
        <FluentLayout>
            <FluentBodyContent>
                @if (BarCodeBuilder.State is BarCodeScanInitialState)
                {
                    <FluentButton Title="Scan Qr Code" OnClick="@OpenScanQrCode">Scan Qr</FluentButton>
                }
                @if (BarCodeBuilder.State is BarCodeScanDetected)
                {
                    var barcode = (BarCodeBuilder.State as BarCodeScanDetected)!.BarCode;
                    <FluentLabel>Bar Code @barcode</FluentLabel>
                }
            </FluentBodyContent>
        </FluentLayout>
    </div>
</MessageListener>

@code
{
    [Inject] public required BlocBuilder<BarCodeScanningCubit, BarCodeScanState> BarCodeBuilder { get; set; }

    protected override void OnInitialized()
    {
        BarCodeBuilder.Bloc.OnStateChanged += ListenToBarCodeChanges;
        base.OnInitialized();
    }

    private void ListenToBarCodeChanges(BarCodeScanState state)
    {
        if (state is BarCodeScanDetected)
        {
            //Todo
            StateHasChanged();
        }
    }

    private async void OnMessageReceived(Person person)
    {
        var notificationRequest = new NotificationRequest()
        {
            NotificationId = person.GetId(),
            Title = person.Title(),
            Description = person.Description(),
            CategoryType = NotificationCategoryType.Status,
            Schedule = new()
            {
                NotifyTime = DateTime.Now, RepeatType = NotificationRepeat.No
            }
        };
        await LocalNotificationCenter.Current.Show(notificationRequest);
    }

    void OpenScanQrCode()
    {
        Console.WriteLine("Clicked");
        App.Current.MainPage.Navigation.PushAsync(new ScanQrCodePage(BarCodeBuilder));
    }
}