@using Microsoft.AspNetCore.SignalR.Client
@using ScanQrShared

<div>
    @Child
</div>

@code{
    [Parameter] public RenderFragment Child { get; set; }

    [Inject] public IQrCodeVerification QrCodeVerificationService { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await QrCodeVerificationService.SendPersonInformationMessage();


        try
        {
            HubConnection  hubConnection = new HubConnectionBuilder()
                .WithUrl("http://172.16.1.150:5026/chat"
                ).Build();

            await hubConnection.StartAsync();
            // You can send a message like this
            await hubConnection.SendAsync("SendMessage", "Hello from the client");
        }
        catch (Exception ex)
        {
            // Log or display the error message
            Console.WriteLine(ex.Message);
        }
    }

}